Package: postgresql*
Pin: version {{ postgresql_cluster_version }}*
Pin-Priority: 1001

Package: postgresql-{{ postgresql_cluster_version }}*
Pin: version {{ postgresql_cluster_version }}*
Pin-Priority: 1001

Package: postgresql-{{ postgresql_cluster_version }}*
Pin: version {{ postgresql_cluster_version }}*
Pin-Priority: 1001