"{{ postgresql_cluster_pg_bouncer_root_user | default('pgbounceradmin') }}" "{{ postgresql_cluster_pg_bouncer_root_password_hashed | default('md5' + ((postgresql_cluster_pg_bouncer_root_password + (postgresql_cluster_pg_bouncer_root_user | default('pgbounceradmin'))) | hash('md5'))) }}"
{% for user in passsword_hashes.results | default([]) %}
"{{ user.item.name | default([]) }}" "{{ user.stdout | default([]) }}"
{% endfor %}
